<div>
    <h2>Mostrar Localizacao através da Latitude e Longitude</h2>
    <input type="number" placeholder="latitude" name="latitude" [(ngModel)]="latitude">
    <input type="number" placeholder="longitude" name="longitude" [(ngModel)]="longitude">
    <button type="button" class="btn" (click)="mostrarLocalizacaoNoMapa()">
        Exibir
    </button>
    <!-- MAPA será renderizado aqui -->
    <div class="mapa" id="mostra-localizacao">
    </div>
</div>
<hr />
<div>
    <h2>Obter Coordenadas do endereço</h2>
    Informe o endereço: (Nome rua, Nº rua, Bairro, Cidade)
    <br>
    <input type="text" placeholder="endereco" name="endereco" [(ngModel)]="endereco">
    <button type="button" class="btn" (click)="obterCoordenadasDoEndereco()">
        Obter
    </button>
    <div *ngIf="coordenadaObtida">
        Coordenada Obtida: {{ coordenadaObtida }}
    </div>
    <!-- MAPA será renderizado aqui -->
    <div class="mapa" id="obter-coordenadas">
    </div>
</div>